body {
	background-color: #ffa500;
    font-family: 'Permanent Marker', cursive;

}

.navbar-default {
    /*background-color:#ffa500;*/
    background-color: #000000;
    background-image: none;
    background-repeat: no-repeat;
    height: 75px;
    color: #ffffff;  
 }

#nav-burger {
    width:70px; 
    height:50px;
}

/* ======== ik carousel settings ========*/
.carousel{
    background: #000000;
    margin-top: 90px;
}

.carousel .item img{
    margin: 0 auto; /* Align slide image horizontally center */
    height: 300px;  
    width: 400px;
    margin-bottom: 20px;
}

.bs-example{
    margin: 5px 5px;
}

.carousel-container {
    background-color: #000000;
}
/* ======= End carousel settings ======*/

ul {
    display:inline-block;  
    list-style: none !important;
    list-style-type: none !important;
    color: #ffffff;

}

/* IK need to come back to this.....COULDN'T GET MY IMAGE TO DISPLAY
ul.burger-bullet {
list-style-image: url('/assets/img/burger.png');
}
*/
li {
    height: auto;
    color: #000000;
    font-family: 'Roboto', sans-serif;
}


#footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:20px;
    font-size: 10px;
    width:100%;
    background-color:#000000;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

/* IE 6 */
/** html #footer {
  position:absolute;
  top:expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');
}*/

#footer_push {
       clear: both;
       height: 20px;
}

